.footer-container {
    background-color: #2F313C;
    padding: 20px;
    color: white;
    text-align: center;
  left: 0;
  bottom: 0;
  height: 40vh;
  width: 100vw; 
  text-align: center;
  font-family: 'Lato', sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: white;
  }
  
  .logo {
    max-width: 100px;
    margin-top: 20px;
  }
  
  .foot-links {
    display: flex;
    gap: 20px;
  }
  
  .newsletter {
    margin-top: 20px;
    text-align: center;
  }

  .news-txt{
    margin-right: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .email-input {
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 24px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .submit-button {
    background-color: #2F313C;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px white;
  }

  .copyright-txt{
    margin-bottom: 15px;
  }


  
  @media (max-width: 768px) {
    .footer-container{
        height: 40vh;
        text-align: center;
    }
    .nav-links {
      flex-direction: column;
      margin-top: 0; 
      padding: 5px 15px;
    }
  
    .email-input {
        width: 150px;
        height: 20px;
      margin-bottom: 10px;
    }
  }