/* Page5.css */

.page5 {
    margin: 0;
}

.discover-heading {
    color: #60A547;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.discover-section {
    background: #2F313C;
    padding: 70px;
    margin: 0;
}

.discover-list {
    margin-top: 20px;
    text-transform: none;
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.table{
    margin: 0;
}


.table-style {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
  }
  
  .table-style th,
  .table-style td {
    padding: 10px;
    text-align: left;
    background-color: #60A547;
  }
  
  .table-style th {
    background-color: #60A547;
    color: black;
    font-weight: bold;
    border-top: none;
    border: 1px solid #ffffff;
  }

  .table-style td {
    color: white;
    position: relative;
  }

  .table-style td:not(:last-child) {
    border-right: 1px solid #ffffff;
}
  
  .table-style img.inline-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  

  @media (min-width: 768px) {
    .table-style {
        font-size: 16px; 
    }

    /* Increase border thickness for larger screens */
    .table-style td:not(:last-child) {
        border-right-width: 2px;
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .table-style {
        font-size: 7px; 
    }

    .table-style img.inline-icon {
       width: 10px;
      }

    /* Decrease border thickness for smaller screens */
    .table-style td:not(:last-child) {
        border-right-width: 1px;
    }
}